.icon_add { 
   background-image:url(../../images/backstage/new.gif)!important;
}
.icon_edit {
	background-image: url(../../images/backstage/edit.gif) !important;
}
.icon_delete {
	background-image: url(../../images/backstage/delete.gif) !important;
}
.icon_submit {
	background-image: url(../../images/backstage/ok.gif) !important;
}
.icon_cancel {
	background-image: url(../../images/backstage/cancel.gif) !important;
}
.icon_stop {
	background-image: url(../../images/backstage/stop.gif) !important;
}
.icon_seek {
	background-image: url(../../images/backstage/seek.gif) !important;
}
.icon_huifu {
	background-image: url(../../images/backstage/huifu.gif) !important;
}
.icon_remove {
	background-image: url(../../images/backstage/remove.gif) !important;
}
.icon_view {
	background-image: url(../../images/backstage/view.gif) !important;
}
.icon_sendmsg {
	background-image: url(../../images/backstage/sendmsg.gif) !important;
}
.icon_role {
	background-image: url(../../images/backstage/role.gif) !important;
}
.icon_permit {
	background-image: url(../../images/backstage/execute.gif) !important;
}
.icon_key {
	background-image: url(../../images/backstage/key.gif) !important;
}
.icon_addsmall {
	background-image: url(../../images/backstage/add.gif) !important;
}
.icon_treeroot {
	background-image: url(../../images/backstage/treeroot.gif) !important;
}
.icon_hdpt {
	background-image: url(../../images/backstage/hdpt.gif) !important;
}
.icon_wdxx {
	background-image: url(../../images/backstage/wdxx.gif) !important;
}
.icon_ydxx {
	background-image: url(../../images/backstage/ydxx.gif) !important;
}
.icon_ly {
	background-image: url(../../images/backstage/ly.gif) !important;
}
.icon_fsxx {
	background-image: url(../../images/backstage/fsxx.gif) !important;
}
.icon_yfs {
	background-image: url(../../images/backstage/yfsxx.gif) !important;
}
.icon_yhgl {
	background-image: url(../../images/backstage/yhgl.gif) !important;
}
.icon_yhlb {
	background-image: url(../../images/backstage/yhlb.gif) !important;
}
.icon_rzgl {
	background-image: url(../../images/backstage/rzgl.gif) !important;
}
.icon_xtpz {
	background-image: url(../../images/backstage/xtpz.gif) !important;
}
.icon_mkpz {
	background-image: url(../../images/backstage/mkpz.gif) !important;
}
.icon_rzck {
	background-image: url(../../images/backstage/rzck.gif) !important;
}
.icon_dwbm {
	background-image: url(../../images/backstage/dwbm.gif) !important;
}
.icon_dwgl {
	background-image: url(../../images/backstage/dwgl.gif) !important;
}
.icon_bmgl {
	background-image: url(../../images/backstage/bmgl.gif) !important;
}
.icon_zwgl {
	background-image: url(../../images/backstage/zwgl.gif) !important;
}
.icon_qtwz {
	background-image: url(../../images/backstage/qtwz.gif) !important;
}
.icon_mkgl {
	background-image: url(../../images/backstage/mkgl.gif) !important;
}
.icon_lmgl {
	background-image: url(../../images/backstage/lmgl.gif) !important;
}
.icon_wzgl {
	background-image: url(../../images/backstage/wzgl.gif) !important;
}
.icon_wzlb {
	background-image: url(../../images/backstage/wzlb.gif) !important;
}
.icon_yqljgl {
	background-image: url(../../images/backstage/yqljgl.gif) !important;
}
.icon_dmscq {
	background-image: url(../../images/backstage/dmscq.gif) !important;
}
.icon_scdm {
	background-image: url(../../images/backstage/scdm.gif) !important;
}
.icon_scdmlsjl {
	background-image: url(../../images/backstage/scdmlsjl.gif) !important;
}
.icon_yhzx {
	background-image: url(../../images/backstage/yhzx.gif) !important;
}
.icon_tc {
	background-image: url(../../images/backstage/tc.gif) !important;
}
.icon_excel {
	background-image: url(../../images/backstage/excel.gif) !important;
}
.icon_kcgl {
	background-image: url(../../images/backstage/kcgl.gif) !important;
}
.icon_cpdj {
	background-image: url(../../images/backstage/cpdj.gif) !important;
}
.icon_rkgl {
	background-image: url(../../images/backstage/rkgl.gif) !important;
}
.icon_ckgl {
	background-image: url(../../images/backstage/ckgl.gif) !important;
}
.icon_cklsjl {
	background-image: url(../../images/backstage/cklsjl.gif) !important;
}
.icon_tiqu {
	background-image: url(../../images/backstage/tiqu.gif) !important;
}
.icon_zcgl {
	background-image: url(../../images/backstage/zcgl.gif) !important;
}
.icon_dtxx {
	background-image: url(../../images/backstage/dtxx.gif) !important;
}
.icon_fj {
	background-image: url(../../images/backstage/fj.gif) !important;
}
.icon_biaoji {
	background-image: url(../../images/backstage/biaoji.png) !important;
}
.icon_chakan {
	background-image: url(../../images/backstage/chakan.gif) !important;
}
.icon_go {
	background-image: url(../../images/backstage/go.gif) !important;
}
.icon_fou1 {
	background-image: url(../../images/backstage/fou1.gif) !important;
}
.icon_fou2 {
	background-image: url(../../images/backstage/fou2.gif) !important;
}
.icon_nofou1 {
	background-image: url(../../images/backstage/nofou1.gif) !important;
}
.icon_nofou2 {
	background-image: url(../../images/backstage/nofou2.gif) !important;
}
.icon_hot1 {
	background-image: url(../../images/backstage/hot1.gif) !important;
}
.icon_quxiao {
	background-image: url(../../images/backstage/quxiao.gif) !important;
}
.icon_rejian {
	background-image: url(../../images/backstage/rejian.gif) !important;
}
.icon_yincang {
	background-image: url(../../images/backstage/yincang.png) !important;
}
.icon_noyincang {
	background-image: url(../../images/backstage/noyincang.png) !important;
}
.icon_big {
	background-image: url(../../images/backstage/big.png) !important;
}
.icon_nobig {
	background-image: url(../../images/backstage/nobig.png) !important;
}
